@media (max-width: 768px) {

    :root {
        --red: #ff0000;
        --green: #00ff00;
        --blue: #0000aa;
        --darkblue: #03107e;
        --lightblue: #061069;
        --gray: #b1b1b1;
        --light-gray: #ccc;
        --darkgray: #202020;
        --wight: #fff;

    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--gray);
        color: var(--wight);
    }

    .page-header {
        background-color: var(--blue);
        color: var(--wight);
        padding: 20px;
        text-align: center;
    }

    nav ul li a {
        display: inline-block;
        padding: 10px 20px;
        color: var(--wight);
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: #000535;
    }

    main {
        padding: 20px;
    }

    section {
        background-color: var(--wight);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    section>h2 {
        color: #333;
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 10px;
    }

    section>p {
        color: #333;
        border-bottom: 1px solid var(--light-gray);
        padding-bottom: 10px;
    }

    footer {
        background-color: var(--darkblue);
        color: var(--wight);
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .page-body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--gray);
        color: var(--wight);
    }

    .page-content {
        padding: 20px;
    }

    .page-body {
        font-size: 16px;
    }

    .form-container {
        border: 1px solid var(--gray);
        background-color: var(--wight);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: var(--darkgray);
    }

    .form-row {
        margin-top: 100px !important;
    }

    .form-input {
        width: calc(50% - 10px);
        margin-right: 10px;
    }

    .form-submit {
        background-color: var(--darkblue);
        color: var(--wight);
        padding: 30px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-submit:hover {
        background-color: var(--darkblue);
    }

    .form-table {
        border-radius: 0ch;
        border: color(from color srgb r g b)
    }

    .table-container {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--light-gray);
        border-radius: 5px;
        overflow: hidden;
        width: 60%;
    }

    .table-row {
        display: flex;
    }

    .table-header {
        font-weight: bold;
        background-color: var(--light-gray);
    }

    .table-cell {
        flex: 1;
        padding: 8px;
        border-right: 1px solid var(--light-gray);
    }

    .table-cell:last-child {
        border-right: none;
    }

    .nav-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: sticky;
        top: 0px;
        background-color: var(--darkblue);
        padding: 10px 0;
        text-align: center;

    }

}