@media (min-width: 768px) and (max-width: 1023px) {
    .page-body {
        font-size: 14px;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #b1b1b1;
        color: #fff;
    }

    header {
        background-color: #0a07a7;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    nav {
        background-color: #061069;
        padding: 10px 0;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: inline;
    }

    nav ul li a {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    nav ul li a:hover {
        background-color: #000535;
    }

    main {
        padding: 20px;
    }

    section {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    section h2 {
        color: #333;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    section>p {
        color: #333;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    footer {
        background-color: #061069;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .page-body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #b1b1b1;
        color: #fff;
    }

    .page-header {
        background-color: #0a07a7;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

    .page-content {
        padding: 20px;
    }

    .form-container {
        border: 1px solid #b1b1b1;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: #202020;
    }

    .form-row {
        margin-bottom: 15px;
    }

    .form-input {
        width: calc(50% - 10px);
        margin-right: 10px;
    }

    .form-submit {
        background-color: #061069;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-submit:hover {
        background-color: #000535;
    }

    .form-table {
        border-radius: 0ch;
        border: color(from color srgb r g b)
    }

    .table-container {
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 5px;
        overflow: hidden;
        width: 60%;
    }

    .table-row {
        display: flex;
    }

    .table-header {
        font-weight: bold;
        background-color: #f2f2f2;
    }

    .table-cell {
        flex: 1;
        padding: 8px;
        border-right: 1px solid #ccc;
    }

    .table-cell:last-child {
        border-right: none;
    }

}